body {
	margin: 0;
	padding: 0;
	background: #FEE4CF;
	color: blue;
	font-family: 'Acme', sans-serif;
}
h1 {
	font-size: 3em;
}
main {
	padding: 1em;
}
h1 {
	margin: 0 0 1em 0;
}
p {
	margin: 0 0 1em 0;
}